<!DOCTYPE html>
<html>
  <%- include('./partials/header'); %>

  <body>
    <%- include('./partials/navbar'); %>

    <div class="card text-center">
      <div class="card-header">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-center">Services</h1>
      </div>
      <div class="card-body">
        <h5 class="card-title">Web Development</h5>
        <img  src="/images/web_development.png" class="d-block mx-lg-auto img-fluid" width="100" height="100">
        <p class="card-text">Web development encompasses a wide range of services, which include </p>
        <p class="card-text">web-based applications and software solutions </p>
        <p class="card-text">Ecommerce sites, personal portfolio sites</p>
        <p class="card-text">Web Apps, portals & websites etc.</p>
      </div>
    </div>

    <%- include('./partials/footer'); %>

  </body>
</html>
